.background    { background-image: url("https://i.cubeupload.com/SJ5sWf.jpg");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #0e58ef; }
.wall          { background: #cfcfcf;   }
.floater       { background: white;   }

.game {
/* overflow: hidden;
  max-width: 600px;
  max-height: 450px;*/
  position: relative;
}
